@keyframes ldio-n1tzcwt1z0p {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.ldio-n1tzcwt1z0p div {
	box-sizing: border-box !important;
}
.ldio-n1tzcwt1z0p > div {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 51px;
	left: 51px;
	border-radius: 50%;
	border: 3px solid #000;
	border-color: #00bc8c transparent #00bc8c transparent;
	animation: ldio-n1tzcwt1z0p 1.8518518518518516s linear infinite;
}

.ldio-n1tzcwt1z0p > div:nth-child(2),
.ldio-n1tzcwt1z0p > div:nth-child(4) {
	width: 39px;
	height: 39px;
	top: 55.5px;
	left: 55.5px;
	animation: ldio-n1tzcwt1z0p 1.8518518518518516s linear infinite reverse;
}
.ldio-n1tzcwt1z0p > div:nth-child(2) {
	border-color: transparent #0da5ff transparent #0da5ff;
}
.ldio-n1tzcwt1z0p > div:nth-child(3) {
	border-color: transparent;
}
.ldio-n1tzcwt1z0p > div:nth-child(3) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}
.ldio-n1tzcwt1z0p > div:nth-child(3) div:before,
.ldio-n1tzcwt1z0p > div:nth-child(3) div:after {
	content: '';
	display: block;
	position: absolute;
	width: 3px;
	height: 3px;
	top: -3px;
	left: 19.5px;
	background: #00bc8c;
	border-radius: 50%;
	box-shadow: 0 45px 0 0 #00bc8c;
}
.ldio-n1tzcwt1z0p > div:nth-child(3) div:after {
	left: -3px;
	top: 19.5px;
	box-shadow: 45px 0 0 0 #00bc8c;
}

.ldio-n1tzcwt1z0p > div:nth-child(4) {
	border-color: transparent;
}
.ldio-n1tzcwt1z0p > div:nth-child(4) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}
.ldio-n1tzcwt1z0p > div:nth-child(4) div:before,
.ldio-n1tzcwt1z0p > div:nth-child(4) div:after {
	content: '';
	display: block;
	position: absolute;
	width: 3px;
	height: 3px;
	top: -3px;
	left: 15px;
	background: #0da5ff;
	border-radius: 50%;
	box-shadow: 0 36px 0 0 #0da5ff;
}
.ldio-n1tzcwt1z0p > div:nth-child(4) div:after {
	left: -3px;
	top: 15px;
	box-shadow: 36px 0 0 0 #0da5ff;
}
.loadingio-spinner-double-ring-knnfc6i55vr {
	margin: auto;
	width: 150px;
	height: 150px;
	display: block;
	overflow: hidden;
	background: none;
}
.ldio-n1tzcwt1z0p {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}
.ldio-n1tzcwt1z0p div {
	box-sizing: content-box;
}
